* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P';
}

html, body {
    height: 100%;

    --color-grey--very-light: #eeeeee;
    --color-grey--very-dark: #333333;
    --color-player-one: #0091ea;
    --color-player-two: #43a047;
}

.container {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--color-grey--very-dark);
    background-color: var(--color-grey--very-light);
}

.title {
    margin-bottom: 1em;
    font-size: 24px;
}

.lives__row {
    width: 600px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.lives__container {
    width: 110px;
    display: flex;
    justify-content: space-between;
}


.lives__container--one {
    color: var(--color-player-one);
}

.lives__container--two {
    flex-direction: row-reverse;
    color: var(--color-player-two);
}

.score__p1 {
    color: var(--color-player-one);
}

.score__p2 {
    color: var(--color-player-two);
}

#canvas {
    background-color: var(--color-grey--very-dark);
}

.gitlogo__container {
    height: 32px;
    width: 32px;
    position: absolute;
    top: 16px;
    right: 16px;
    opacity: .2;
    transition: all .25s ease-in-out;
}

.gitlogo__container:hover {
    opacity: .5;
}